<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Название:</strong>
	  <%= @item.name %>
	</p>

	<%= link_to 'Редактировать', edit_item_path(@item) %> |
	<%= link_to 'Назад', items_path %>
</div>
